# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - run: yarn install

      - name: Build dApp
        run: CI=false yarn build
      
      - name: Upload dApp to IPFS
        uses: aquiladev/ipfs-action@v0.1.5
        id: ipfs_dapp_upload
        with:
          path: ./build
          service: infura
          timeout: 120000
          verbose: true

      - name: Build Gnosis Safe App
        run: rm -rf ./build |
          CI=false REACT_APP_SAPP_TARGET=true yarn build
      
      - name: Upload sApp to IPFS
        uses: aquiladev/ipfs-action@v0.1.5
        id: ipfs_sapp_upload
        with:
          path: ./build
          service: infura
          timeout: 120000
          verbose: true

      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v5.4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag_version.outputs.new_tag }}
          release_name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: |
            dApp [https://cloudflare-ipfs.com/ipfs/${{ steps.ipfs_dapp_upload.outputs.hash }}/](https://cloudflare-ipfs.com/ipfs/${{ steps.ipfs_dapp_upload.outputs.hash }}/)
            Gnosis Safe App [https://cloudflare-ipfs.com/ipfs/${{ steps.ipfs_sapp_upload.outputs.hash }}/](https://cloudflare-ipfs.com/ipfs/${{ steps.ipfs_sapp_upload.outputs.hash }}/)
            Note: [Gnosis Safe App guideline](https://github.com/aquiladev/web3-domain-manager/blob/main/README.md#gnosis-safe-app)
            
            ${{ steps.tag_version.outputs.changelog }}
          draft: false
          prerelease: false
